.container{
    font-weight: bold;
    font-size: 20px;
    color: black;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    position: relative;
    left: 10%;
}

p-dataView{
    min-width:1000px;
    padding: 10px;

    // .p-dataview-content{
    //     background-color: yellowgreen;
    // }
}

.header-actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.card-list-item{
    padding-top:20px;
}


.card-grid-item{
    padding-top:20px;
    // display: flex;
}

.p-dataview-content > .p-grid.p-nogutter.grid.grid-nogutter{
    background-color: cyan !important;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px 30px;
}

// .grid-column{
//     background-color: cyan !important;
//     display: grid;
//     grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
//     gap: 30px 30px;
// }