<div class="container" *ngIf="products$ | async as products">
    <!-- {{products | json}} -->
    <div class="card">
        <p-toast></p-toast>
        <p-toolbar styleClass="mb-4 gap-2">
            <ng-template pTemplate="left">
                <!-- <p-button pRipple severity="success" label="New" icon="pi pi-plus" class="mr-2" (click)="openNew()" /> -->
                <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()">
                </button>

                <!-- <p-button pRipple severity="danger" label="Delete" icon="pi pi-trash" (click)="deleteSelectedProducts()"
                    [disabled]="!selectedProducts || !selectedProducts.length" /> -->
                <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-secondary"
                    [disabled]="true"></button>
            </ng-template>

            <ng-template pTemplate="right">
                <p-button pRipple icon="pi pi-cog"></p-button>
            </ng-template>
        </p-toolbar>

        <p-table #dt [value]="products" styleClass="p-datatable-striped" [globalFilterFields]="['code', 'name']"
            [rowHover]="true" dataKey="id">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 4rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th pSortableColumn="code" style="min-width:15rem">
                        Code <p-sortIcon field="code"></p-sortIcon>
                    </th>
                    <th pSortableColumn="name" style="min-width:17rem">
                        Name <p-sortIcon field="name"></p-sortIcon>
                    </th>
                    <th style="min-width:12rem">
                        Actions
                    </th>
                </tr>
                <tr>
                    <th>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="code" [showClearButton]="false"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="name" [showClearButton]="false"></p-columnFilter>
                    </th>
                    <th>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
                <tr [ngClass]="{'even-row': rowIndex % 2}">
                    <td>
                        <p-tableCheckbox [value]="product"></p-tableCheckbox>
                    </td>
                    <td>
                        {{ product.code }}
                    </td>
                    <td>
                        {{ product.name }}
                    </td>

                    <td>
                        <!-- <p-button pRipple icon="pi pi-pencil" class="mr-2" [rounded]="true" 
                        [outlined]="true"
                            severity="success" 
                            (click)="editProduct(product)" /> -->
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-info mr-2 p-button-text">
                        </button>

                        <button pButton pRipple icon="pi pi-trash" class="p-button-danger mr-2 p-button-text">
                        </button>
                    </td>
                </tr>
            </ng-template>
            <!-- <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">
                    In total there are {{ products ? products.length : 0 }} products.
                </div>
            </ng-template> -->
        </p-table>

        <p-dialog [(visible)]="productDialog" [style]="{ width: '450px' }" header="Product Details" [modal]="true"
            styleClass="p-fluid">
            <ng-template pTemplate="content">

                <div class="field">
                    <label for="description">Code</label>
                    <input type="text" pInputText id="name" [(ngModel)]="product.code" required autofocus />
                </div>
                <div class="field">
                    <label for="name">Name</label>
                    <input type="text" pInputText id="name" [(ngModel)]="product.name" required autofocus />
                    <small class="p-error" *ngIf="submitted && !product.name">
                        Name is required.
                    </small>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <div class="footer">
                    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-info mr-2 p-button-text"
                        (click)="hideDialog()">
                    </button>
                    <button pButton pRipple label="Cancel" label="Save" icon="pi pi-check"
                        class="p-button-success p-button-text" (click)="saveProduct()">
                    </button>
                </div>
            </ng-template>
        </p-dialog>

        <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
    </div>

</div>
<p-paginator [rows]="productsPerPage$ | async" [totalRecords]="totalProducts$ | async" [showCurrentPageReport]="true"
    [showPageLinks]="true" [showJumpToPageDropdown]="false"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="pageSizeOptions" (onPageChange)="handlePageSizeChange($event)"></p-paginator>